@model IEnumerable<MedicalShop.Models.Entities.ChiNhanh>
@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";

    MedicalShopContext context = new MedicalShopContext();
    int idCN = int.Parse(User.Claims.ElementAt(4).Value);
    //List<CachTinhGia> cachTinhGia = context.CachTinhGia.Where(x => x.Hsd != true).ToList();

    
    CachTinhGia cachTinhGia = context.CachTinhGia.Where(x => x.Idcn == idCN).FirstOrDefault();
    CachTinhGia item = cachTinhGia == null ? new CachTinhGia() : cachTinhGia;

}



<div class="card mb-0" style=" margin-bottom: 4rem !important ">
    <div class="row p-3 ms-0 col-lg-6 col-md-6">
        <select required name="cbChiNhanh" id="cbChiNhanh" class="form-select2" @(Model.Count() == 1 ? "disabled" : "")>
            @foreach (var itemm in Model)
              {
                  <option value="@itemm.Id" selected="@(itemm.Id == idCN)">@itemm.TenCn</option>
                  //<option value="@itemm.Id" @(itemm.Id == idCN ? "selected":"")>@itemm.TenCn</option>
              }
        </select>
    </div>
    <div class="row ps-5 ms-0">
        <label class="form-check p-2">
            <input class="form-check-input" style="padding:12px" type="radio" id="Max" name="CachTinh" value="@(item.Max.HasValue ? (item.Max.Value ? "true": "false") : "false")"
            @(item.Max.HasValue ? (item.Max.Value ? "checked" : "") : "")>
            <span class="form-check-label">Xuất giá cao nhất</span>
        </label>
        <label class="form-check p-2">
            <input class="form-check-input" style="padding:12px" type="radio" id="Medium" name="CachTinh" value="@(item.Medium.HasValue ? (item.Medium.Value ? "true": "false") : "false")"
            @(item.Medium.HasValue ? (item.Medium.Value ? "checked" : "") : "")>
            <span class="form-check-label">Xuất giá trung bình</span>
        </label>
        <label class="form-check p-2">
            <input class="form-check-input" style="padding:12px" type="radio" id="Min" name="CachTinh" value="@(item.Min.HasValue ? (item.Min.Value ? "true": "false") : "false")"
            @(item.Min.HasValue ? (item.Min.Value ? "checked" : "") : "")>
            <span class="form-check-label">Xuất giá thấp nhất</span>
        </label>
        <input type="hidden" id="idCTG" value="@item.Id"/>
    </div>
    <div class="row g-2 align-items-center p-2">
        <div class="col-auto ms-auto d-print-none">
            <button class="btn btn-primary btnCapNhat" id="btn-save-ctg">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                    <path d="M12 17v-6"></path>
                    <path d="M9.5 14.5l2.5 2.5l2.5 -2.5"></path>
                </svg>
                Lưu
            </button>
        </div>
    </div>
</div>

<script src="~/admin/customjs/hanghoagia.js" asp-append-version="true"></script>