@*<script src="~/admin/js/datatable-custom.js"></script>*@

@{
    MedicalShopContext context = new MedicalShopContext();

    HhGia getGia(int? id)
    {
        HhGia giahh = context.HhGia.FirstOrDefault(x => x.Idhh == id);
        if (giahh != null) return giahh;
        else return new HhGia();
    }


}

<tbody id="giaban">
  @foreach (HangHoa hh in ViewBag.Load)
  {
    <tr onclick="loadDSNhap(@hh.Id)">
      @*<td id="stt"></td>*@
      <td class="text-left" style="width:20rem;">
        <span>@hh.TenHh</span>
        <input type="hidden" value="@hh.Id" class="idvt" />
      </td>
      <td style="width:6rem;">
         <input type="text" class="form-control tile text-right formatted-number-float" value="@getGia(@hh.Id).TiLe">
      </td>
      <td style="width:6rem;">
        <input style=" min-width: max-content;" type="text" class="form-control gia text-right formatted-number-float" value="@getGia(@hh.Id).Price" />
      </td>
    </tr>
  }
</tbody>