@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";

    MedicalShopContext context = new MedicalShopContext();
    List<HangHoa> listHH()
    {
        return context.HangHoa.Where(x => x.Active == true).OrderBy(x => x.TenHh).ToList();
    }

    HhGia getGia(int? id)
    {
        HhGia giahh = context.HhGia.FirstOrDefault(x => x.Idhh == id);
        if (giahh != null) return giahh;
        else return new HhGia();
    }


}

<link href="~/admin/css/switch.css" rel="stylesheet" />

<style>

    .wh-input input {
        width: 17px;
        height: 17px;
    }

    .color-clicked {
        background-color: #f5f8fe;
        font-weight: bold;
        color: #0d6efd;
    }
</style>


<div class="card mb-0" style=" margin-bottom: 4rem !important ">
    <div class="h-80" style="overflow-x:auto; margin-bottom: 1rem;">
        <div class="mc-13 d-flex align-items-start justify-content-between">
            <div class="switch">
                <div class="switch__1">
                    <input id="switch-1" type="checkbox">
                    <label for="switch-1" title="Lọc giá lỗi thời"></label>
                </div>
            </div>
            <div class="group-btn">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" style="border-radius:unset ; width: 5rem ;" type="button" id="btn-save">
                        <span>Lưu</span>
                    </button>
                </div>
            </div>

        </div>
        @*flex-direction: row; flex-wrap: wrap; overflow-x: auto; align-items: flex-start; justify-content: space-between;*@
        <div class="row col-md-12 d-flex align-items-start" style="">
            <div id="table1" class="col-md-7 table-responsive" style="height: 25rem">
                <table class="table table-striped" id="table2" >
                    <thead style="position: sticky; top: 0; ">
                        <tr style="background: #e9ecef;">
                            @*<th style="width:15px">STT</th>*@
                            <th class="text-center">Danh sách hàng hóa</th>
                            <th>Tỉ lệ (%)</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody id="giaban">
                        @foreach (HangHoa hh in listHH())
                        {
                            <tr onclick="loadDSNhap(@hh.Id)">
                                @*<td id="stt"></td>*@
                                <td class="text-left" style="width:20rem;">
                                    <span>@hh.TenHh</span>
                                    <input type="hidden" value="@hh.Id" class="idvt" />
                                </td>
                                <td style="width:6rem;">
                                    <input type="text" class="form-control tile text-right formatted-number-float" value="@getGia(@hh.Id).TiLe">
                                </td>
                                <td style="width:6rem;">
                                    <input style=" min-width: max-content;" type="text" class="form-control gia text-right formatted-number-float" value="@getGia(@hh.Id).Price" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<input type="hidden" id="idvt" />*@
            <div class="col-md-5 border-dark table-responsive" style="height: 25rem">
                <table class="table table-striped d-none" style="white-space: nowrap;" id="table3">
                    <thead style="position: sticky; top: 0; ">
                        <tr style="background: #e9ecef;">
                            @*<th class="text-center" style="vertical-align : middle;text-align:center;">STT</th>*@
                            <th class="text-center">Ngày nhập</th>
                            <th class="text-center">HSD</th>
                            <th class="text-center">Đang tồn</th>
                            <th class="text-center">Giá nhập</th>
                        </tr>
                    </thead>
                    <tbody id="gianhap">
                        <tr>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/admin/js/switch.js"></script>

<script src="~/admin/customjs/hanghoagia.js"></script>