@model MedicalShop.Models.Entities.Dvt

@{
    var quyen = ViewBag.Quyen;
    bool nhap = (bool)quyen.Import;
    bool sua = (bool)quyen.Update;
    bool xoa = (bool)quyen.Delete;
    bool print = (bool)quyen.Print;
    bool xuat = (bool)quyen.Export;
}

<script src="~/admin/js/datatable-custom.js"></script>

<div id="tableDVT" class="table-responsive" style="margin-bottom: 5rem">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Mã DVT
                </th>
                <th>
                    Tên DVT
                </th>
                <th class="text-center">
                    Ngày tạo
                </th>
                <th class="text-center">
                    NV tạo
                </th>
                <th class="text-center">
                    Ngày sửa
                </th>
                <th class="text-center">
                    NV sửa
                </th>
                <th class="text-center">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dvt item in ViewBag.DVT)
            {
                @if (item.Active == false)
                {
                    <tr style="background-color: #0000000a;">
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDvt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDvt)
                        </td>
                        <td class="text-center">
                            @CommonServices.formatDateTimeShort(item.CreatedDate)
                        </td>
                        <td class="text-center">
                            @CommonServices.getTenNhanVien(item.CreatedBy)
                        </td>
                        <td class="text-center">
                            @CommonServices.formatDateTimeShort(item.ModifiedDate)
                        </td>
                        <td class="text-center">
                            @CommonServices.getTenNhanVien(item.ModifiedBy)
                        </td>
                        <td class="text-center pr-2rem">
                            @if (sua == true)
                            {
                                @Html.ActionLink(" ", "Restore", new { id = item.Id }, new { @class = "fas fa-reply color-black", onclick = "return confirm('Bạn muốn khôi phục đối tượng này?')" })
                            }
                            else
                            {
                                <button class=" btn p-0 disabled"><i class="fas fa-reply "></i></button>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDvt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDvt)
                        </td>
                        <td class="text-center">
                            @CommonServices.formatDateTimeShort(item.CreatedDate)
                        </td>
                        <td class="text-center">
                            @CommonServices.getTenNhanVien(item.CreatedBy)
                        </td>
                        <td class="text-center">
                            @CommonServices.formatDateTimeShort(item.ModifiedDate)
                        </td>
                        <td class="text-center">
                            @CommonServices.getTenNhanVien(item.ModifiedBy)
                        </td>
                        <td class="text-center">
                            @if (sua == true)
                            {
                                @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter pr-2" })
                            }
                            else
                            {
                                <button class=" btn p-0 disabled"><i class="far fa-edit pr-2"></i></button>
                            }
                            @if (xoa == true)
                            {
                                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
                            }
                            else
                            {
                                <button class=" btn p-0 disabled"><i class="fas fa-trash-alt"></i></button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>