@model MedicalShop.Models.Entities.Dvt

@{
  MedicalShopContext context = new MedicalShopContext();


  NhanVien getNV(int? id)
  {
    NhanVien nv = context.NhanVien.FirstOrDefault(x => x.Id == id);
    if (nv != null) return nv;
    else return new NhanVien();
  }

  var acc = User.FindFirst("VaiTro");
  int idmenu = (int)TempData.Peek("Menu");
  string vaitro = null;
  bool nhap = false, sua = false, xoa = false, print = false, xuat = false, canhan = false;
  if (acc != null)
  {
    vaitro = acc.Value;
    if (vaitro != null && vaitro != "")
    {
      ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
      if (cn != null)
      {
        nhap = (bool)cn.Import;
        sua = (bool)cn.Update;
        xoa = (bool)cn.Delete;
        print = (bool)cn.Print;
        xuat = (bool)cn.Export;
        canhan = (bool)cn.Person;
      }
    }
  }
}

<div id="tableDVT" style="overflow-x: auto; overflow-y: hidden; width: 100%;">
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.MaDvt)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.TenDvt)
        </th>
        <th class="text-center">
          @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th class="text-center">
          @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th class="text-center">
          @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th class="text-center">
          @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th class="text-center">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Dvt item in ViewBag.DVT)
      {
        @if (item.Active == false)
        {
          <tr style="background-color: #0000000a;">
            <td>
              @Html.DisplayFor(modelItem => item.MaDvt)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TenDvt)
            </td>
            <td class="text-center">
              @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-center">
              @getNV(item.CreatedBy).TenNv
            </td>
            <td class="text-center">
              @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td class="text-center">
              @getNV(item.ModifiedBy).TenNv
            </td>
          <td class="text-center pr-2rem">
              @if (sua == true)
              {
                @Html.ActionLink(" ", "Restore", new { id = item.Id }, new { @class = "fas fa-reply color-black", onclick = "return confirm('Bạn muốn khôi phục đối tượng này?')" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="fas fa-reply "></i></button>
              }
            </td>
          </tr>
        }
        else
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.MaDvt)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TenDvt)
            </td>
            <td class="text-center">
              @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-center">
              @getNV(item.CreatedBy).TenNv
            </td>
            <td class="text-center">
              @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td class="text-center">
              @getNV(item.ModifiedBy).TenNv
            </td>
          <td class="text-center">
              @if (sua == true)
              {
                @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter pr-2" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="far fa-edit pr-2"></i></button>
              }
              @if (xoa == true)
              {
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="fas fa-trash-alt"></i></button>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>