@model MedicalShop.Models.Entities.Dvt

@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";
  MedicalShopContext context = new MedicalShopContext();


  List<Dvt> listDVT()
  {
    return context.Dvt.Where(a => a.Active == true).ToList();
  }

  string formatDay(DateTime? date)
  {
    if (date != null)
    {
      return date.Value.ToString("dd-MM-yyyy HH:mm");
    }
    else
    {
      return null;
    }
  }

  NhanVien getNV(int? id)
  {
    NhanVien nv = context.NhanVien.FirstOrDefault(x => x.Id == id);
    if (nv != null) return nv;
    else return new NhanVien();
  }

  var acc = User.FindFirst("VaiTro");
  int idmenu = (int)TempData.Peek("Menu");

  string vaitro = null;
  bool nhap = false, sua = false, xoa = false, print = false, xuat = false, canhan = false;
  if (acc != null)
  {
    vaitro = acc.Value;
    if (vaitro != null && vaitro != "")
    {
      ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
      if (cn != null)
      {
        nhap = (bool)cn.Import;
        sua = (bool)cn.Update;
        xoa = (bool)cn.Delete;
        print = (bool)cn.Print;
        xuat = (bool)cn.Export;
        canhan = (bool)cn.Person;
      }
    }
  }

}

<style>
  .dataTables_filter {
    display: none;
  }

</style>


@*@section Scripts{
    <script src="~/admin/js/datatable-custom.js"></script>
  }*@

@if (TempData["ThongBao"] != null)
{
  <script type="text/javascript" charset="utf-8">
                        window.onload = function () {
                            alert("@Html.Raw(@TempData["ThongBao"])");
                    };
  </script>
}


<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
  <div style="margin-bottom: 20px">
    @if (nhap == true)
    {
      <a href="/DVT/ViewCreate" class="btn btn-secondary"><span>Thêm mới</span></a>
    }
    else
    {
      <button class="btn btn-secondary disabled"><span>Thêm mới</span></button>
    }
  </div>
  <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
    <div style="display: flex">
      <div class="dropdown" style="margin-right:10px">
        <select id="active" onchange="changeHH()" class="custom-select">
          <option value="true" selected>Hiện tại</option>
          <option value="false">Tất cả</option>
        </select>
      </div>
    </div>
  </div>
</div>

@*<div class="table-responsive" style="white-space:nowrap;overflow-y: auto;">
  <table id="example" class="table table-striped table-hover text-center display nowrap" style="width:100%">*@
<div id="tableDVT" class="table-responsive">
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>
          Mã
        </th>
        <th>
          Tên
        </th>
        <th class="text-center">
          Ngày tạo
        </th>
        <th class="text-center">
          NV tạo
        </th>
        <th class="text-center">
         Ngày sửa
        </th>
        <th class="text-center">
          NV sửa
        </th>
        <th class="text-center">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Dvt item in listDVT())
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.MaDvt)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.TenDvt)
          </td>
          <td class="text-center">
            @formatDay(item.CreatedDate)
          </td>
          <td class="text-center">
            @getNV(item.CreatedBy).TenNv
          </td>
          <td class="text-center">
            @formatDay(item.ModifiedDate)
          </td>
          <td class="text-center">
            @getNV(item.ModifiedBy).TenNv
          </td>
          <td class="text-center">
            @if (sua == true)
            {
              @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter pr-2" })
            }
            else
            {
              <button class=" btn p-0 disabled"><i class="far fa-edit pr-2"></i></button>
            }
            @if (xoa == true)
            {
              @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
            }
            else
            {
              <button class=" btn p-0 disabled"><i class="fas fa-trash-alt"></i></button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>



@*<script src="~/admin/js/datatable-custom.js"></script>*@
<script>



  $(document).ready(function () {

  });


  $('#active').on('change', function () {
    var a = $(this).val();
    $.ajax({
      type: "post",
      url: "/loadTableDVT",
      data: "active=" + a,
      success: function (result) {
        $('#tableDVT').replaceWith(result);
      },
      error: function () {
        alert("Failed");
      }
    });
  });
</script>
