@{
    ViewData["Title"] = "Vai Trò";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";

    MedicalShopContext context = new MedicalShopContext();
    List<VaiTro> listvt()
    {
        return context.VaiTro.Where(x => x.Active == true && x.Type == 0).OrderBy(x => x.TenVt).ToList();
    }
}

<style>
    .wh-input input {
        width: 20px;
        height: 20px;
    }

    .color-clicked {
        background-color: #f5f8fe;
        font-weight: bold;
        color: #0d6efd;
    }

</style>

<div class="card mb-0" style="height:525px;">
    <div class="" style="overflow-x:auto">
        <div class="mc-13" style=" display: flex; align-items: flex-start; justify-content: space-between;">
            <div class="group-btn">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" style="border-radius: 3px; width: 100%;" id="add_new">
                        <span>Thêm Mới</span>
                    </button>
                </div>
            </div>
            <div class="group-btn">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" style="border-radius:3px" type="button" id="btn-save">
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12" style="display: flex; flex-direction: row; overflow-x: auto; align-items: baseline; align-items: flex-start;">
            <div class="col-4 border-dark" style="overflow: auto; padding-left: unset; max-height: 26rem; " id="table1">
                <table class="table table-bordered table-hover  mb-0 text-center h-100" id="table2">
                    <thead style="position: sticky; top: 0; background: #e9ecef; margin-top: unset !important; ">
                        <tr style="background: #e9ecef;">
                            @*<th style="width:15px">STT</th>*@
                            <th class="text-center">Danh sách vai trò</th>
                            <th>Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody id="vaitro">
                        @foreach (VaiTro vt in listvt())
                        {
                            <tr onclick="loadTableCN(@vt.Id)">
                                @*<td id="stt"></td>*@
                                <td class="text-left">
                                    <span>@vt.TenVt</span>
                                    <input type="hidden" value="@vt.Id" id="idvt" />
                                </td>
                                <td class="ps-0 pe-0">
                                    <button value="@vt.Id" class="edit far fa-edit btn btn-primary" style="margin-right: 5px" id="edit"></button>
                                    <button value="@vt.Id" class="remove fas fa-trash-alt btn btn-danger"></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<input type="hidden" id="idvt" />*@
            <div class="col-8 p-0 border-dark" style=" overflow: auto; max-height: 430px;">
                <table class="table tablee table-bordered  mb-0  text-center bg-light" id="myTable">
                    <thead style="position: sticky; top: 0; background: #e9ecef;">
                        <tr>
                            <th class="text-center p-0" rowspan="3" style="vertical-align : middle;text-align:center;">Danh sách danh mục</th>
                            <th class="text-center p-0" colspan="6">Chức năng</th>
                            @*<th class="text-center">Tùy chọn</th>*@
                        </tr>
                        <tr>
                            <th class="text-center p-0">Nhập</th>
                            <th class="text-center p-0">Sửa</th>
                            <th class="text-center p-0">Xóa</th>
                            <th class="text-center p-0">In</th>
                            <th class="text-center p-0">Xuất</th>
                            <th class="text-center p-0" rowspan="2" style="writing-mode:vertical-rl">Tất cả</th>
                        </tr>
                        <tr>
                            <th class="text-center p-0 pt-2"><input type="checkbox" id="checkAllNhap" style="width: 20px; height: 20px"></th>
                            <th class="text-center p-0 pt-2"><input type="checkbox" id="checkAllSua" style="width: 20px; height: 20px"></th>
                            <th class="text-center p-0 pt-2"><input type="checkbox" id="checkAllXoa" style="width: 20px; height: 20px"></th>
                            <th class="text-center p-0 pt-2"><input type="checkbox" id="checkAllIn" style="width: 20px; height: 20px"></th>
                            <th class="text-center p-0 pt-2"><input type="checkbox" id="checkAllXuat" style="width: 20px; height: 20px"></th>

                        </tr>
                    </thead>
                    <tbody id="chucnang">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        $("#checkAllNhap").click(function () {
            $("input[name='Import']").prop("checked", this.checked);
        });

        $("#checkAllSua").click(function () {
            $("input[name='Update']").prop("checked", this.checked);
        });

        $("#checkAllXoa").click(function () {
            $("input[name='Delete']").prop("checked", this.checked);
        });

        $("#checkAllIn").click(function () {
            $("input[name='Print']").prop("checked", this.checked);
        });

        $("#checkAllXuat").click(function () {
            $("input[name='Export']").prop("checked", this.checked);
        });


        $(document).on('click', '#chucnang .Import, #chucnang .Update, #chucnang .Delete, #chucnang .Print, #chucnang .Export', function () {
            updateColumnCheckboxes();
        });

        $(document).on('change', '.row-check', function () {
            if (this.checked) {
                $(this).closest('tr').find(':checkbox').prop('checked', true);
            } else {
                $(this).closest('tr').find(':checkbox').prop('checked', false);
            }
            updateColumnCheckboxes();
        })

        $(document).on('change', '#myTable input[type="checkbox"]:not(.row-check)', function () {
            updateRowCheckboxes();
        });

    });

    function updateColumnCheckboxes() {
        console.log($('.Import').length, $('.Import:checked').length);
        if ($('.Import').length == $('.Import:checked').length) {
            $('#checkAllNhap').prop('checked', true);
        } else {
            $('#checkAllNhap').prop('checked', false);
        }

        if ($('.Update').length == $('.Update:checked').length) {
            $('#checkAllSua').prop('checked', true);
        } else {
            $('#checkAllSua').prop('checked', false);
        }

        if ($('.Delete').length == $('.Delete:checked').length) {
            $('#checkAllXoa').prop('checked', true);
        } else {
            $('#checkAllXoa').prop('checked', false);
        }

        if ($('.Print').length == $('.Print:checked').length) {
            $('#checkAllIn').prop('checked', true);
        } else {
            $('#checkAllIn').prop('checked', false);
        }

        if ($('.Export').length == $('.Export:checked').length) {
            $('#checkAllXuat').prop('checked', true);
        } else {
            $('#checkAllXuat').prop('checked', false);
        }
    }


    function updateRowCheckboxes() {
        $('#chucnang tr').each(function () {
            var row = $(this);
            var checkboxes = row.find('input[type="checkbox"]:not(.row-check)');
            var checkedCheckboxes = row.find('input[type="checkbox"]:not(.row-check):checked');

            if (checkedCheckboxes.length === checkboxes.length) {
                row.find('.row-check').prop('checked', true);
            } else {
                row.find('.row-check').prop('checked', false);
            }
        });
    }



    $("#vaitro tr").click(function () {
        var selected = $(this).hasClass("color-clicked");
        $("#vaitro tr").removeClass("color-clicked");
        if (!selected)
            $(this).addClass("color-clicked");
    });

    //ok
    function loadTableCN(id) {
        $('#vaitro').val(id);
        $.ajax({
            type: "post",
            url: "/loadTableCN",
            data: "idvt=" + id,
            success: function (result) {
                $('#chucnang').replaceWith(result);
                updateColumnCheckboxes();
                updateRowCheckboxes();
            },
            error: function () {
                console.log("Lỗi!");
            }
        });
    }


    $(document).ready(function () {

        $("#btn-save").click(function () {
            updateRoles();
        });
    });



    function updateRoles() {
        var listOfFunctionModel = new Array();
        var idvt = $('#vaitro').val();
        $("#myTable").find("tr:gt(2)").each(function () {
            var idmenu = $(this).find("td:eq(0) input[type='hidden']").val();
            //var idvt = $(this).find("td:eq(1) input[type='hidden']").val();
            var nhap = $(this).find("td:eq(1) input[type='checkbox'] ").is(":checked");
            var sua = $(this).find("td:eq(2) input[type='checkbox'] ").is(":checked");
            var xoa = $(this).find("td:eq(3) input[type='checkbox'] ").is(":checked");
            var print = $(this).find("td:eq(4) input[type='checkbox'] ").is(":checked");
            var xuat = $(this).find("td:eq(5) input[type='checkbox'] ").is(":checked");

            var FunctionModel = {};
            FunctionModel.Idmenu = Number(idmenu);
            FunctionModel.Idvt = Number(idvt);
            FunctionModel.Import = nhap;
            FunctionModel.Update = sua;
            FunctionModel.Delete = xoa;
            FunctionModel.Print = print;
            FunctionModel.Export = xuat;

            listOfFunctionModel.push(FunctionModel);
        });

        console.log(listOfFunctionModel);

        $.ajax({
            url: '/updateRoles',
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(listOfFunctionModel),
            success: function (result) {
                //alert(result);
                showToast(result.message, result.statusCode);
            },
            error: function () {
                console.log("Lỗi!");
            }
        });
    }



    //ok
    function loadTableVT() {
        var vaitro = $('#vaitro').val();
        $.ajax({
            type: "post",
            url: "/loadTableVT",
            data: "vaitro=" + vaitro,
            success: function (result) {
                $('#vaitro').replaceWith(result);
            },
            error: function () {
                console("Fail11");
            }
        });
    }


    //ok
    $(function () {
        $("#add_new").click(function () {
            $.ajax({
                type: "post",
                url: "/addRowVT",
                success: function (result) {
                    $("#vaitro").prepend(result)
                },
                error: function () {
                    console.log("Lỗi!");
                }
            });
        });

        //ok
        $("#table2").on("click", ".add", function () {
            var tenVT = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            if (tenVT == '') {
                showToast('Vui lòng nhập tên vai trò!', 100);
            } else {
               $.ajax({
                    type: "post",
                    url: "/addVT",
                    data: "tenVT=" + tenVT,
                    success: function (result) {
                        $.ajax({
                            type: "post",
                            url: "/loadTableVT",
                            success: function (result) {
                                $('#vaitro').replaceWith(result);
                            },
                            error: function () {
                                console.log("Lỗi!");
                            }
                        });
                        showToast(result.message, result.statusCode);
                    },
                    error: function () {
                        console.log("Lỗi!");
                    }
                });
            }
            
        });

        //ok
        $("#table2").on("click", ".edit", function () {
            var idvt = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addRowVT",
                data: "idvt=" + idvt,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    console.log("Lỗi!");
                }
            });
        });

        //ok
        $("#table2").on("click", ".savevt", function () {
            var idvt = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var tenvt = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            $.ajax({
                type: "post",
                url: "/updatevaitro",
                data: "idvt=" + idvt + "&tenvt=" + tenvt,
                success: function (result) {
                    $.ajax({
                        type: "post",
                        url: "/loadTableVT",
                        success: function (result) {
                            $('#vaitro').replaceWith(result);
                        },
                        error: function () {
                            console.log("Lỗi!");
                        }
                    });
                    showToast(result.message, result.statusCode);
                },
                error: function () {
                    console.log("Lỗi!");
                }
            });
        });

        //ok
        $("#table2").on("click", ".remove", function () {
            if (confirm('Bạn có muốn xoá?')) {
                var idvt = $(this).attr("value");
                $.ajax({
                    type: "post",
                    url: "/removeVT",
                    data: "idvt=" + idvt,
                    success: function (result) {
                        $.ajax({
                            type: "post",
                            url: "/loadTableVT",
                            success: function (result) {
                                $('#vaitro').replaceWith(result);
                            },
                            error: function () {
                                console.log("Lỗi!");
                            }
                        });
                        showToast(result.message, result.statusCode);
                    },
                    error: function () {
                        console.log("Lỗi!");
                    }
                });
            }
        });
        $("#table2").on("click", ".btn-secondary", function () {
            $.ajax({
                type: "post",
                url: "/loadTableVT",
                success: function (result) {
                    $('#vaitro').replaceWith(result);
                },
                error: function () {
                    console.log("Lỗi!");
                }
            });
        });
    })
    //ok
    $('#search').keyup(function () {
        //var vaitro = $('#vaitro').val();
        var key = $(this).val();
        $.ajax({
            type: "post",
            url: "/searchTableVT",
            data: "key=" + key, //"vaitro=" + vaitro + "&key=" + key,
            success: function (result) {
                $('#vaitro').replaceWith(result);
            },
            error: function () {
                console.log("Lỗi!");
            }
        });
    });
</script>