@model MedicalShop.Models.Entities.ChiNhanh

@{
    ViewData["Title"] = "Chi tiết chi nhánh";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";

    MedicalShopContext context = new MedicalShopContext();

    var acc = User.FindFirst("VaiTro");
    int idmenu = (int)TempData.Peek("Menu");

    string vaitro = null;
    bool sua = false;
    if (acc != null)
    {
        vaitro = acc.Value;
        if (vaitro != null && vaitro != "")
        {
            ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
            sua = (bool)cn.Update;
        }
    }


    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd-MM-yyyy HH:mm:ss");
        }
        else
        {
            return null;
        }
    }

}

<div class="row" style="margin-bottom: 70px;">
    <div class="card" id="heredetail">
        <div class="card-body pt-3 pl-5 pr-5" style="padding: 0;">
            <!-- Bordered Tabs -->
            <div class="tab-content pt-2">
                <div id="Detail">
                    <dl class="row slgit">
                        <dt class="col-sm-2">
                            @Html.HiddenFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.HiddenFor(model => model.Id)
                        </dd>

                        <dt class="col-sm-2">
                            Mã CN
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MaCn)
                        </dd>

                        <dt class="col-sm-2">
                            Tên CN
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TenCn)
                        </dd>

                        <dt class="col-sm-2">
                            SĐT
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt class="col-sm-2">
                            Mail
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Mail)
                        </dd>

                        <dt class="col-sm-2">
                            Địa chỉ
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt class="col-sm-2">
                            Ghi chú
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Note)
                        </dd>

                        <dt class="col-sm-2">
                            NV tạo
                        </dt>
                        <dd class="col-sm-10">
                            @CommonServices.getTenNhanVien(Model.CreatedBy)
                        </dd>

                        <dt class="col-sm-2">
                            Ngày tạo
                        </dt>
                        <dd class="col-sm-10">
                            @CommonServices.formatDateTimeShort(Model.CreatedDate)
                        </dd>

                        <dt class="col-sm-2">
                            NV sửa
                        </dt>
                        <dd class="col-sm-10">
                            @CommonServices.getTenNhanVien(Model.ModifiedBy)
                        </dd>

                        <dt class="col-sm-2">
                            Ngày sửa
                        </dt>
                        <dd class="col-sm-10">
                            @CommonServices.formatDateTimeShort(Model.ModifiedDate)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 0px 50px 20px 50px; ">
            <a asp-action="Table">
                <input type="button" class="btn btn-secondary" value="Quay lại">
            </a>
            @*<button class="btn btn-secondary" type="button" onclick="window.history.go(-1);">
            Quay lại
            </button>*@

            @if (Model.Active == true)
            {
                if (sua == true)
                {
                    <a asp-action="ViewUpdate" asp-route-id="@Model.Id">
                        <input type="button" class="btn btn-primary" value="Chỉnh sửa">
                    </a>
                }
                else
                {
                    <button class="btn btn-primary disabled">
                        <span>Chỉnh sửa</span>
                    </button>
                }

            }
            else
            {
                if (sua == true)
                {
                    //thêm ajax
                    <button class="btn btn-primary" style="" id="btn_khoiphuc">
                        <span>Khôi phục</span>
                    </button>
                }
                else
                {
                    <button class="btn btn-primary disabled">
                        <span>Khôi phục</span>
                    </button>
                }
            }
        </div>

    </div>
</div>

<script>

    function loadAgain() {
        var id = $('#Id').val();
        $.ajax({
            type: "post",
            url: "/loadDetailChiNhanh",
            data: "id=" + id,
            success: function (result) {
                $("#heredetail").replaceWith(result)
            },
            error: function () {
                console.log("Thất bại!");
            }
        });
    }

    $("#btn_khoiphuc").click(function () {
        var id = $('#Id').val();
        $.ajax({
            type: "post",
            url: "/restoreChiNhanh",
            data: "id=" + id,
            success: function (result) {
                alert(result);
                loadAgain();
                //  $("#Detail").replaceWith(result)

            },
            error: function () {
                console.log("Thất bại!");
            }
        });
    })

</script>