@model MedicalShop.Models.Entities.ChiNhanh

@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
    var quyen = ViewBag.Quyen;
    bool nhap = (bool)quyen.Import;
}

<div class="card" style=" margin-bottom: 70px;">
    <div class="card-body">
        <form action="/ChiNhanh/insert" method="post">
            <div class="forms-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:flex">
                    <div class="group-left">
                        <label style="margin:7px 0;">Mã chi nhánh</label>
                        <input asp-for="@Model.MaCn" type="text" class="form-control" required>
                    </div>
                    <div class="group-right">
                        <label style="margin:7px 0;">Tên chi nhánh</label>
                        <input asp-for="@Model.TenCn" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group" style="display:flex">
                    <div class="group-left">
                        <label style="margin:7px 0;">Địa chỉ</label>
                        <input asp-for="@Model.Address" type="text" class="form-control" required>
                    </div>
                    <div class="group-right">
                        <label style="margin:7px 0;">Số điện thoại</label>
                        <input asp-for="@Model.Phone" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group" style="display:flex">
                    <div class="group-left">
                        <label style="margin:7px 0;">Mail</label>
                        <input asp-for="@Model.Mail" type="email" class="form-control" required>
                    </div>
                    <div class="group-right">
                        <label style="margin:7px 0;">Ghi chú</label>
                        <input asp-for="@Model.Note" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 10px 0px; ">
                <a asp-action="Table"><input type="button" class="btn btn-secondary" value="Quay lại"></a>
                @if (nhap == true)
                {
                    <input type="submit" class="btn btn-primary" value="Thêm">
                }
                else
                {
                    <input type="button" class="btn btn-primary disabled" value="Thêm">
                }
            </div>
        </form>
    </div>
</div>

