@model MedicalShop.Models.PhieuNhapModel
@{
    MedicalShopContext context = new MedicalShopContext();
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
    List<NhaCungCap> getListNCC()
    {
        return context.NhaCungCap.Where(x => x.Active == true).OrderBy(x => x.TenNcc).ToList();
    }

    List<HangHoa> getListHH()
    {
        return context.HangHoa.Where(x => x.Active == true).OrderBy(x => x.TenHh).ToList();
    }

    var a = context.ChiTietPhieuNhap.Select(x => x.SoLo).Distinct().ToList();

    var idChiNhanh = int.Parse(User.Claims.ElementAt(4).Value);

    //string format(Double? a)
    //{
    //  return a?.ToString("N", System.Globalization.CultureInfo.InvariantCulture);
    //}

    string getSoPhieu()
    {
        QuyDinhMa qd = context.QuyDinhMa.Find(1);
        //ID chi nhánh
        string cn = User.Claims.ElementAt(4).Value;

        DateTime d = DateTime.Now;
        string ngayThangNam = d.ToString("yyMMdd");
        string SoPhieu = cn + "-" + qd.TiepDauNgu + ngayThangNam;
        var list = context.SoThuTu.FromSqlRaw("select * from SoThuTu where '" + DateTime.Now.ToString("yyyy-MM-dd") + "' = Convert(date,date) and type = 'NhapKho'").FirstOrDefault();
        int stt;
        if (list == null)
        {
            SoThuTu sttt = new SoThuTu();
            sttt.Date = DateTime.ParseExact(DateTime.Now.ToString("dd-MM-yyyy"), "dd-MM-yyyy", CultureInfo.InvariantCulture);
            sttt.Stt = 0;
            sttt.Type = "NhapKho";
            context.SoThuTu.Add(sttt);
            context.SaveChanges();
            stt = 1;
        }
        else
        {
            stt = (Int32)list.Stt + 1;
        }
        SoPhieu += stt;
        while (true)
        {
            if (qd.DoDai == SoPhieu.Length) break;
            SoPhieu = SoPhieu.Insert(SoPhieu.Length - stt.ToString().Length, "0");
        }
        return SoPhieu;
    }

    //lịch sử lọc theo ngày tạo
    List<PhieuNhap> getListPhieuNhap()
    {
        var list = context.PhieuNhap
        .FromSqlRaw("select*from PhieuNhap where CONVERT(date,CreatedDate) = '" + DateTime.Now.ToString("yyyy-MM-dd") + "' and Active = 1")
        .Include(x => x.IdnccNavigation)
        .Include(x => x.IdnvNavigation)
        .OrderByDescending(x => x.Id)
        .ToList();
        return list;
    }


    //string dayToString(DateTime? a)
    //{
    //  if (a == null)
    //  {
    //    return "";
    //  }
    //  return a.Value.ToString("dd-MM-yyyy");
    //}
}


<style>
    @@media (max-width: 1350px) {
        #table2 tbody tr {
            white-space: nowrap;
        }
    }
</style>

<div class="card" style="margin-bottom: 5rem">
    <div class="card-body" style="margin-bottom: .8rem">

        <!-- Bordered Tabs Justified -->
        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="home-tab" onclick="offTabNhap()" data-bs-toggle="tab" data-bs-target="#borderedTabJustifiedContent" type="button" role="tab" aria-controls="home" aria-selected="true">Phiếu nhập kho</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Lịch sử nhập kho</button>
            </li>
        </ul>
        <div class="tab-content pt-2">
            @*<form onsubmit="return confirm('Bạn có muốn tạo phiếu nhập kho?')"  class="tab-pane fade active show" id="borderedTabJustifiedContent">*@
            <div class="tab-pane fade active show" id="borderedTabJustifiedContent">
                <div id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="form-group  p-2 mb-2" style="border-radius: 5px; border: 1px solid black; background-color: lightgrey;">
                        <div class="row mb-2">
                            <label class="col-sm-1 col-lg-1 col-form-label">Số phiếu</label>
                            <div class="col-sm-2 col-lg-2">
                                <input value="@getSoPhieu()" required readonly type="text" class="form-control" name="soPn" id="SoPN">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Nhà CC</label>
                            <div class="col-sm-5 col-lg-5">
                                <select required name="idNCC" id="NCC" class="form-select2">
                                    <option selected value=""></option>
                                    @foreach (NhaCungCap n in getListNCC())
                                    {
                                        <option value="@n.Id">@n.TenNcc</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Ng.Nhập</label>
                            <div class="col-sm-2 col-lg-2">
                                <input autocomplete="off" type="text" required name="CreatedDay" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" placeholder="dd-MM-yyyy" class="form-control" id="NgayNhap">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 col-lg-1 col-form-label">Số HĐ</label>
                            <div class="col-sm-2 col-lg-2">
                                <input type="text" name="SoHd" class="form-control" id="SoHd" autocomplete="off">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Ngày HĐ</label>
                            <div class="col-sm-2 col-lg-2">
                                <input autocomplete="off" type="text" name="NgayHd" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="NgayHD">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Ghi chú</label>
                            <div class="col-sm-5 col-lg-5">
                                <textarea rows="1" name="Note" id="Note" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-2 mb-2" id="groupTTChiTiet" style="border-radius: 5px; border: 1px solid black;">
                        <div class="row">
                            <label class="col-sm-1 col-lg-1 col-form-label">Tên hàng</label>
                            <div class="col-md-5 mb-2 col-lg-5">
                                <select id="selectHH" onchange="loadDVT()" class="form-select2">
                                    <option selected disabled value=""></option>
                                    @foreach (HangHoa h in getListHH())
                                    {
                                        <option value="@h.Id" data-extra="{'Ma':'@h.MaHh'}">@h.TenHh</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Số lô</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <select id="SoLo" class="form-select1">
                                    <option selected disabled value=""></option>
                                    @foreach (string s in a)
                                    {
                                        <option value="@s">@s</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">ĐV tính</label>
                            <div class="col-sm-2 col-lg-2">
                                <input type="text" class="form-control" id="DVT" readonly placeholder="Đơn vị tính" autocomplete="off">
                            </div>

                        </div>
                        <div class="row">
                            <label class="col-sm-1 col-lg-1 col-form-label">VAT</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <select id="ThueXuat" class="form-select1 vat">
                                    <option selected value="0">0</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Số lượng</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" class="form-control number-input" data-toggle="popover" data-content="Không được để trống" onkeypress="return isNumber(event)" oninput="inputSLHH()" id="SLHH" placeholder="Số lượng" autocomplete="off">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Đơn giá</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" class="form-control number-input" data-toggle="popover" data-content="Không được để trống" onkeypress="return isNumber(event)" oninput="inputDonGia()" id="DonGia" placeholder="Đơn giá" autocomplete="off">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label number-input">Th.Tiền</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" class="form-control" oninput="inputThanhTien()" id="ThanhTien" placeholder="Thành tiền" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 col-lg-1 col-form-label">%CKTM</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" class="form-control" id="ChietKhau" placeholder="Chiết khấu" autocomplete="off">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Ngày SX</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" placeholder="dd-mm-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control" id="NgaySX" autocomplete="off">
                            </div>
                            <label class="col-sm-1 col-lg-1 col-form-label">Hạn SD</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                                <input type="text" placeholder="dd-mm-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control" id="HanDung" autocomplete="off">
                            </div>
                            <div class="col-md-3 mb-2 col-lg-3 d-flex justify-content-end" id="areabtn">
                                <button class="btn btn-primary" id="ThemChiTiet" type="button">Thêm</button>
                            </div>

                            @*<label class="col-sm-1 col-lg-1 col-form-label">VAT</label>
                            <div class="col-md-2 mb-2 col-lg-2">
                            <select id="ThueXuat" class="custom-select vat">
                            <option selected value="0">0</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            </select>
                            </div>*@
                        </div>
                    </div>
                    @*<div style="flex-direction: row-reverse;">
                    <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" style="min-width:15%" id="ThemChiTiet" type="button">Thêm</button>
                    </div>
                    </div>*@
                </div>
                <div class="table-responsive" style="max-height: 8rem; overflow-x: auto; white-space: nowrap; margin: 0.5rem 0; border: 1px solid black; ">
                    <table class="table table-bordered table-hover table-striped text-center" id="tableChiTietPhieuNhap">
                        <thead style="position: sticky; top: 0; background-color: white;">
                            <tr>
                                <th>Tên hàng hóa</th>
                                <th>ĐVT</th>
                                <th>Số lô</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th>%CK</th>
                                <th>VAT</th>
                                <th>NSX</th>
                                <th>HSD</th>
                                <th class="last-th-column">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="body_ctpn">
                        </tbody>
                    </table>
                </div>
                <div class="form-group p-2 mb-2" style="border-radius: 5px; border: 1px solid black;">
                    <div class="row">
                        <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền hàng</label>
                        <div class="col-md-2 col-lg-2">
                            <input type="text" class="form-control" readonly id="TienHang" placeholder="Tiền hàng" autocomplete="off">
                        </div>
                        <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền CK</label>
                        <div class="col-md-2 col-lg-2">
                            <input type="text" class="form-control" readonly id="TienCK" placeholder="Tiền chiết khấu" autocomplete="off">
                        </div>
                        <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền thuế</label>
                        <div class="col-md-2 col-lg-2">
                            <input type="text" class="form-control" readonly id="TienThue" placeholder="Tiền thuế" autocomplete="off">
                        </div>
                        <label class="col-sm-1 col-lg-1 col-form-label pr-05">Th.Toán</label>
                        <div class="col-md-2 col-lg-2">
                            <input type="text" class="form-control" readonly id="TienThanhToan" placeholder="Thanh toán" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div style="flex-direction: row-reverse;">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" style="min-width:20%" type="button" id="btn-create">Tạo phiếu</button>
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>

        @* content bên lịch sử phiếu nhập kho  *@
        <div class="tab-content">
            <form action="/download/BaoCaoPhieuNhap" method="post" class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row justify-content-start" style="width: fit-content; padding: 1rem 0rem ">
                    <div class="col-lg-5 col-sm-5 tungay">
                        <input autocomplete="off" class="form-control" type="text" id="fromDay" name="fromDay" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="Từ ngày" />
                    </div>
                    <div class="col-lg-5 col-sm-5">
                        <input autocomplete="off" class="form-control" type="text" id="toDay" name="toDay" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="Tới ngày" />
                    </div>
                    <div class="col-lg-1 col-sm-1">
                        <button type="button" class="btn btn-secondary" onclick="loadTableLichSuNhap()"><i class="fas fa-search fa-sm"></i></button>
                    </div>
                </div>
                <div id="tableLichSuNhap" class="table-responsive" style=" overflow-y: auto; overflow-x:scroll; height: 25rem;">
                    <table id="table2" class="table table-striped table-hover text-center display" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="text-center">Số phiếu</th>
                                <th class="text-center" style="width:20%">Tên NCC</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class="text-center">Số HĐ</th>
                                <th class="text-center">Ngày HĐ</th>
                                <th class="text-center">NV tạo</th>
                                <th class="text-center">Ghi chú</th>
                                <th class="text-center">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PhieuNhap p in getListPhieuNhap())
                            {
                                <tr>
                                    <td class="text-left">@p.SoPn</td>
                                    <td class="text-left">@p.IdnccNavigation.TenNcc</td>
                                    <td>@CommonServices.formatDay(@p.CreatedDate)</td>
                                    <td class="text-left">@p.SoHd</td>
                                    <td>@CommonServices.formatDay(p.NgayHd)</td>
                                    <td class="text-left">@p.IdnvNavigation.TenNv</td>
                                    <td class="text-left">@p.Note</td>
                                    <td>
                                        <a href="/download/phieunhap/@p.Id" class="btn btn-outline-danger" style="font-size: 0.55em;">PDF</a>
                                        <button type="button" onclick="ViewPhieuNhap('@p.Id')" class="btn btn-outline-success fas fa-eye mx-1"></button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-success col-lg-2 col-sm-2" type="submit">Xuất tất cả</button>
                </div>
            </form>
            <div class="d-lg-none" id="tabXemPhieu">
            </div>
        </div>
    </div>
</div>

<script src="~/admin/customjs/phieunhapkho.js" defer asp-append-version="true"></script>

