@model MedicalShop.Models.PhieuNhapModel
@{
  MedicalShopContext context = new MedicalShopContext();
  Layout = "~/Views/Shared/_LayoutNV.cshtml";
  List<NhaCungCap> getListNCC()
  {
    return context.NhaCungCap.Where(x => x.Active == true).OrderBy(x => x.TenNcc).ToList();
  }

  List<HangHoa> getListHH()
  {
    return context.HangHoa.Where(x => x.Active == true).OrderBy(x=> x.TenHh).ToList();
  }

  //thêm
  HangHoa getHangHoa(int? id)
  {
    return context.HangHoa.Find(id);
  }

  Dvt getDvt(int? id)
  {
    return context.Dvt.Find(id);
  }

  var a = context.ChiTietPhieuNhap.Select(x => x.SoLo).Distinct().ToList();

  //string format(Double? a)
  //{
  //  return a?.ToString("N", System.Globalization.CultureInfo.InvariantCulture);
  //}

  string getSoPhieu()
  {
    QuyDinhMa qd = context.QuyDinhMa.Find(1);
    //ID chi nhánh
    string cn = User.Claims.ElementAt(4).Value;

    DateTime d = DateTime.Now;
    string ngayThangNam = d.ToString("yyMMdd");
    string SoPhieu = cn + "-" + qd.TiepDauNgu + ngayThangNam;
    var list = context.SoThuTu.FromSqlRaw("select * from SoThuTu where '" + DateTime.Now.ToString("yyyy-MM-dd") + "' = Convert(date,date) and type = 'NhapKho'").FirstOrDefault();
    int stt;
    if (list == null)
    {
      SoThuTu sttt = new SoThuTu();
      sttt.Date = DateTime.ParseExact(DateTime.Now.ToString("dd-MM-yyyy"), "dd-MM-yyyy", CultureInfo.InvariantCulture);
      sttt.Stt = 0;
      sttt.Type = "NhapKho";
      context.SoThuTu.Add(sttt);
      context.SaveChanges();
      stt = 1;
    }
    else
    {
      stt = (Int32)list.Stt + 1;
    }
    SoPhieu += stt;
    while (true)
    {
      if (qd.DoDai == SoPhieu.Length) break;
      SoPhieu = SoPhieu.Insert(SoPhieu.Length - stt.ToString().Length, "0");
    }
    return SoPhieu;
  }

  //lịch sử lọc theo ngày tạo
  List<PhieuNhap> getListPhieuNhap()
  {
    var list = context.PhieuNhap
    .FromSqlRaw("select*from PhieuNhap where CONVERT(date,CreatedDate) = '" + DateTime.Now.ToString("yyyy-MM-dd") + "' and Active = 1")
    .Include(x => x.IdnccNavigation)
    .Include(x => x.IdnvNavigation)
    .OrderByDescending(x => x.Id)
    .ToList();
    return list;
  }


  string dayToString(DateTime? a)
  {
    if (a == null)
    {
      return "";
    }
    return a.Value.ToString("dd-MM-yyyy");
  }
}

<div class="card" style="margin-bottom: .8rem">
  <div class="card-body" style="margin-bottom: .8rem">

    <!-- Bordered Tabs Justified -->
    <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100 active" id="home-tab" onclick="offTabNhap()" data-bs-toggle="tab" data-bs-target="#borderedTabJustifiedContent" type="button" role="tab" aria-controls="home" aria-selected="true">Phiếu nhập kho</button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Lịch sử nhập kho</button>
      </li>
    </ul>
    <div class="tab-content pt-2">
      @*<form onsubmit="return confirm('Bạn có muốn tạo phiếu nhập kho?')"  class="tab-pane fade active show" id="borderedTabJustifiedContent">*@
     <div class="tab-pane fade active show" id="borderedTabJustifiedContent">
      <div id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
        <div class="form-group  p-2 mb-2" style="border-radius: 5px; border: 1px solid black; background-color: lightgrey;">
          <div class="row mb-2">
            <label class="col-sm-1 col-lg-1 col-form-label">Số phiếu</label>
            <div class="col-sm-2 col-lg-2">
              <input value="@getSoPhieu()" required readonly type="text" class="form-control" name="soPn" id="SoPN">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Nhà CC</label>
            <div class="col-sm-5 col-lg-5">
              <select required name="idNCC" id="NCC" class="form-select2">
                <option selected value=""></option>
                @foreach (NhaCungCap n in getListNCC())
                {
                  <option value="@n.Id">@n.TenNcc</option>
                }
              </select>
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Ng.Nhập</label>
            <div class="col-sm-2 col-lg-2">
              <input type="text" required name="CreatedDay" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" placeholder="dd-MM-yyyy" class="form-control" id="NgayNhap">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-1 col-lg-1 col-form-label">Số HĐ</label>
            <div class="col-sm-2 col-lg-2">
              <input type="text" name="SoHd" class="form-control" id="SoHd">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Ngày HĐ</label>
            <div class="col-sm-2 col-lg-2">
              <input type="text" name="NgayHd" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="NgayHD">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Ghi chú</label>
            <div class="col-sm-5 col-lg-5">
              <textarea rows="1" name="Note" id="Note" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group p-2 mb-2" id="groupTTChiTiet" style="border-radius: 5px; border: 1px solid black;">
          <div class="row">
            <label class="col-sm-1 col-lg-1 col-form-label">Tên hàng</label>
            <div class="col-md-5 mb-2 col-lg-5">
              <select id="selectHH" onchange="loadDVT()" class="form-select2">
                <option selected disabled value=""></option>
                @foreach (HangHoa h in getListHH())
                {
                  <option value="@h.Id" data-extra="{'Ma':'@h.MaHh'}">@h.TenHh</option>
                }
              </select>
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Số lô</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <select id="SoLo" class="form-select1">
                <option selected disabled value=""></option>
                @foreach (string s in a)
                {
                  <option value="@s">@s</option>
                }
              </select>
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">ĐV tính</label>
            <div class="col-sm-2 col-lg-2">
              <input type="text" class="form-control" id="DVT" readonly placeholder="Đơn vị tính">
            </div>

          </div>
          <div class="row">
            <label class="col-sm-1 col-lg-1 col-form-label">VAT</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <select id="ThueXuat" class="form-select1 vat">
                <option selected value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
              </select>
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Số lượng</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" class="form-control" data-toggle="popover" data-content="Không được để trống" oninput="inputSLHH()" id="SLHH" placeholder="Số lượng">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Đơn giá</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" class="form-control" oninput="inputDonGia()" id="DonGia" placeholder="Đơn giá">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Th.Tiền</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" class="form-control" oninput="inputThanhTien()" id="ThanhTien" placeholder="Thành tiền">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-1 col-lg-1 col-form-label">%CKTM</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" class="form-control" id="ChietKhau" placeholder="Chiết khấu">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Ngày SX</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" placeholder="dd-mm-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control" id="NgaySX">
            </div>
            <label class="col-sm-1 col-lg-1 col-form-label">Hạn SD</label>
            <div class="col-md-2 mb-2 col-lg-2">
              <input type="text" placeholder="dd-mm-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control" id="HanDung">
            </div>
            <div class="col-md-3 mb-2 col-lg-3 d-flex justify-content-end" id="areabtn">
              <button class="btn btn-primary" id="ThemChiTiet" type="button">Thêm</button>
            </div>

            @*<label class="col-sm-1 col-lg-1 col-form-label">VAT</label>
          <div class="col-md-2 mb-2 col-lg-2">
            <select id="ThueXuat" class="custom-select vat">
              <option selected value="0">0</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
            </select>
          </div>*@
          </div>
        </div>
        @*<div style="flex-direction: row-reverse;">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" style="min-width:15%" id="ThemChiTiet" type="button">Thêm</button>
        </div>
      </div>*@
      </div>
      <div class="table-responsive" style="max-height: 8rem; overflow-x: auto; white-space: nowrap; margin: 0.5rem 0; border: 1px solid black; ">
        <table class="table table-bordered table-hover table-striped text-center" id="tableChiTietPhieuNhap">
          <thead style="position: sticky; top: 0;">
            <tr>
              <th>Tên hàng hóa</th>
              <th>ĐVT</th>
              <th>Số lô</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Thành tiền</th>
              <th>%CK</th>
              <th>Thuế suất</th>
              <th>NSX</th>
              <th>HSD</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody id="body_ctpn">
            @*<tr id="temp_ct">
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>*@
          </tbody>
        </table>
      </div>
      <div class="form-group p-2 mb-2" style="border-radius: 5px; border: 1px solid black;">
        <div class="row">
          <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền hàng</label>
          <div class="col-md-2 col-lg-2">
            <input type="text" class="form-control" readonly id="TienHang" placeholder="Tiền hàng">
          </div>
          <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền CK</label>
          <div class="col-md-2 col-lg-2">
            <input type="text" class="form-control" readonly id="TienCK" placeholder="Tiền chiết khấu">
          </div>
          <label class="col-sm-1 col-lg-1 col-form-label pr-05">Tiền thuế</label>
          <div class="col-md-2 col-lg-2">
            <input type="text" class="form-control" readonly id="TienThue" placeholder="Tiền thuế">
          </div>
          <label class="col-sm-1 col-lg-1 col-form-label pr-05">Th.Toán</label>
          <div class="col-md-2 col-lg-2">
            <input type="text" class="form-control" readonly id="TienThanhToan" placeholder="Thanh toán">
          </div>
        </div>
      </div>
      <div style="flex-direction: row-reverse;">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" style="min-width:20%" type="button" id="btn-create">Tạo phiếu</button>
        </div>
      </div>
       </div>
      @*</form>*@
    </div>

    @* content bên lịch sử phiếu nhập kho  *@
    <div class="tab-content">
      <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row justify-content-start" style="width: fit-content; padding: 1rem 0rem ">
          <div class="col-lg-5 col-sm-5 tungay">
            <input class="form-control" type="text" oninput="loadTableLichSuNhap()" id="fromDay" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="Từ ngày" />
          </div>
          <div class="col-lg-5 col-sm-5">
            <input class="form-control" type="text" oninput="loadTableLichSuNhap()" id="toDay" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="Tới ngày" />
          </div>
          <div class="col-lg-1 col-sm-1">
            <button type="button" class="btn btn-secondary" onclick="loadTableLichSuNhap()"><i class="fas fa-search fa-sm"></i></button>
          </div>
        </div>
        <div id="tableLichSuNhap" class="table-responsive" style="white-space:nowrap;overflow-y: auto;">
          <table id="example" class="table table-striped table-hover text-center display nowrap" style="width:100%;max-height:500px">
            <thead>
              <tr>
                <th class="text-center">Số phiếu</th>
                <th class="text-center">Tên nhà cung cấp</th>
                <th class="text-center">Ngày tạo</th>
                <th class="text-center">Số hoá đơn</th>
                <th class="text-center">Ngày hoá đơn</th>
                <th class="text-center">Nhân viên tạo</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center">Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              @foreach (PhieuNhap p in getListPhieuNhap())
              {
              <tr>
                <td class="text-left">@p.SoPn</td>
                <td class="text-left">@p.IdnccNavigation.TenNcc</td>
                <td>@p.CreatedDate.Value.ToString("dd-MM-yyyy HH:mm:ss")</td>
                <td class="text-left">@p.SoHd</td>
                <td>@dayToString(p.NgayHd)</td>
                <td class="text-left">@p.IdnvNavigation.TenNv</td>
                <td class="text-left">@p.Note</td>
                <td>
                  <a href="PhieuNhapKhoPDF" class="btn btn-outline-success">In</a>
                  <button type="button" onclick="ViewPhieuNhap('@p.Id')" class="btn btn-outline-primary mx-1">Xem</button>
                </td>
              </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
      <div class="d-lg-none" id="tabXemPhieu">

      </div>
    </div>
  </div>
</div>
<script>

  //ok
  $(document).ready(function () {

    //document.getElementById("temp_ct").remove();
    $("#ThemChiTiet").click(function () {
      addChiTietPhieuTam();
      updateTable2();
    });


    $("#btn-create").click(function () {
      CreatePN();
    });

  });

  //ok
  function deleteRow(index) {
    var row = document.getElementById(index);
    row.parentNode.removeChild(row);
    updateTable2();
  }



  // ok
  $(function () {
    $("#tableChiTietPhieuNhap").on("click", ".edit", function () {
      var index = $(this).closest('tr').attr('id');
      var idHH = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
      var dvt = $(this).parents('tr').find("td:eq(1)").html();
      var SoLo = $(this).parents('tr').find("td:eq(2)").html();
      var SL = $(this).parents('tr').find("td:eq(3)").html();
      var DonGia = $(this).parents('tr').find("td:eq(4)").html();
      var ThanhTien = $(this).parents('tr').find("td:eq(5)").html();
      var ChietKhau = $(this).parents('tr').find("td:eq(6)").html();
      var HanDung = $(this).parents('tr').find("td:eq(9)").html();
      var ngaySX = $(this).parents('tr').find("td:eq(8)").html();
      var ThueXuat = $(this).parents('tr').find("td:eq(7)").html();

      $('#selectHH').val(idHH);
      //$("#selectHH option:selected").text(tenHH);
      $('#DVT').val(dvt);
      $('#SoLo').val(SoLo);

      $("#ThueXuat").val(ThueXuat).change();

      $('#SLHH').val(toDecimal(SL));
      $('#DonGia').val(toDecimal(DonGia));
      $('#ThanhTien').val(toDecimal(ThanhTien));
      $('#ChietKhau').val(ChietKhau);
      $('#HanDung').val(HanDung);
      $('#NgaySX').val(ngaySX);

      changeEdit(index);



    });
  })

  //ok
  function changeEdit(index) {
    var active = '<button class="btn btn-primary" id="ThemChiTiet" onclick="onemoretime2('+ index+')" type="button">Lưu</button>'
      +'<button class="btn btn-secondary" style="margin-left:5px;" onclick="changeOff()" type="button">Hủy</button>';

    $('#areabtn').html(active);
  }

  //ok
  function changeOff(){
    var off = '<button class="btn btn-primary" id="ThemChiTiet" onclick="onemoretime()" type="button">Thêm</button>';
    $('#areabtn').html(off);
    $('#selectHH').val("");
    $('#DVT').val("");
    $('#SoLo').val("");
    $('#ThueXuat').val("");
    $('#SLHH').val("");
    $('#DonGia').val("");
    $('#ThanhTien').val("");
    $('#ChietKhau').val("");
    $('#HanDung').val() = @DateTime.Now.ToString("dd-MM-yyyy");
    $('#NgaySX').val() = @DateTime.Now.ToString("dd-MM-yyyy");
  }

  //ok
  function onemoretime(){
    addChiTietPhieuTam();
    updateTable2();
  }

  function onemoretime2(index) {
    editChiTietPhieuTam(index);
    updateTable2();
    changeOff();
  }


 //ok
  var index = 1;

  function addChiTietPhieuTam() {
    var idHH = $('#selectHH').val();
    var tenHH = $("#selectHH option:selected").text();
    var dvt = $('#DVT').val();
    var SoLo = $('#SoLo').val();
    var ThueXuat = $('#ThueXuat').val();
    var SL = getValue($('#SLHH').val());
    var DonGia = getValue($('#DonGia').val());
    var ThanhTien = getValue($('#ThanhTien').val());
    var ChietKhau = getValue($('#ChietKhau').val());
    var HanDung = $('#HanDung').val();
    var ngaySX = $('#NgaySX').val();
    var x = new Date(HanDung.substring(3, 5) + "-" + HanDung.substring(0, 2) + "-" + HanDung.substring(6, 10));
    var y = new Date(ngaySX.substring(3, 5) + "-" + ngaySX.substring(0, 2) + "-" + ngaySX.substring(6, 10));

    if (idHH == "" || idHH == null){
      alert('Hãy chọn hàng hoá!');
      return;
    }

    if (SoLo == null) {
      alert('Hãy nhập số lô!');
      return;
    }

    if (SL == "" || SL <= 0){
      if (SL < 0) {
        alert('Số lượng không hợp lệ!');
        return;
      }else{
        alert('Hãy nhập số lượng hàng hoá!');
        return;
      }
    }

    if (DonGia == "" || DonGia <= 0)
    {
      if (DonGia < 0) {
        alert('Đơn giá không hợp lệ!');
        return;
      } else {
        alert('Hãy nhập đơn giá hoặc thành tiền!');
        return;
      }
    }

    if (ThanhTien < 0) {
        alert('Thành tiền không hợp lệ!');
        return;
    }

    if (x < y) {
      alert('Hạn sử dụng phải lớn hơn ngày sản xuất!');
      return;
    }
    //thêm: giá tiền notnull

    else
    {
      var ChitietRecord = '<tr class="index" id="' + index + '">' + '<td class="text-left">' + '<input id="IDCT" type="hidden" value="' + idHH + '"]/>' + tenHH + '</td><td class="text-left">'
        + dvt + '</td><td class="text-left">' + SoLo + '</td><td class="text-right">' + SL + '</td><td class="text-right">' + DonGia
        + '</td><td class="text-right">' + ThanhTien + '</td><td class="text-right">' + ChietKhau + '</td><td class="text-right">' + ThueXuat + '</td><td>' + ngaySX + '</td><td>'
        + HanDung + '</td><td> <button type="button" class="btn p-0 edit" onclick="UpdateRow(' + index + ')"><i class="far fa-edit lighter pr-2" ></i></button>' + '<button type="button" class="btn p-0" onclick="deleteRow(' + index + ')"><i class="fas fa-trash-alt lighter" ></i></button> </td></tr>'
      //onclick="UpdateRow(' + index + ')"
      $('#body_ctpn').prepend(ChitietRecord);

     // updateTable2();
      index++;
    }
  }


  function editChiTietPhieuTam(index) {   

    var idHH = $('#selectHH').val();
    var tenHH = $("#selectHH option:selected").text();
   // alert(index + " - " + tenHH);
    var dvt = $('#DVT').val();
    var SoLo = $('#SoLo').val();
    var ThueXuat = $('#ThueXuat').val();
    var SL = getValue($('#SLHH').val());
    var DonGia = getValue($('#DonGia').val());
    var ThanhTien = getValue($('#ThanhTien').val());
    var ChietKhau = getValue($('#ChietKhau').val());
    var HanDung = $('#HanDung').val();
    var ngaySX = $('#NgaySX').val();
    var x = new Date(HanDung.substring(3, 5) + "-" + HanDung.substring(0, 2) + "-" + HanDung.substring(6, 10));
    var y = new Date(ngaySX.substring(3, 5) + "-" + ngaySX.substring(0, 2) + "-" + ngaySX.substring(6, 10));

    if (idHH == "" || idHH == null) {
      alert('Hãy chọn hàng hoá!');
      return;
    }

    if (SoLo == null) {
      alert('Hãy nhập số lô!');
      return;
    }

    if (SL == "" || SL <= 0) {
      if (SL < 0) {
        alert('Số lượng không hợp lệ!');
        return;
      } else {
        alert('Hãy nhập số lượng hàng hoá!');
        return;
      }
    }

    if (DonGia == "" || DonGia <= 0) {
      if (DonGia < 0) {
        alert('Đơn giá không hợp lệ!');
        return;
      } else {
        alert('Hãy nhập đơn giá hoặc thành tiền!');
        return;
      }
    }

    if (ThanhTien < 0) {
      alert('Thành tiền không hợp lệ!');
      return;
    }

    if (x < y) {
      alert('Hạn sử dụng phải lớn hơn ngày sản xuất!');
      return;
    }

    else {
      var ChitietRecord = '<tr class="index" id="' + index + '">' + '<td class="text-left">' + '<input id="IDCT" type="hidden" value="' + idHH + '"]/>' + tenHH + '</td><td class="text-left">'
        + dvt + '</td><td class="text-left">' + SoLo + '</td><td class="text-right">' + SL + '</td><td class="text-right">' + DonGia
        + '</td><td class="text-right">' + ThanhTien + '</td><td class="text-right">' + ChietKhau + '</td><td class="text-right">' + ThueXuat + '</td><td>' + ngaySX +  '</td><td>'
        + HanDung +  '</td><td> <button type="button" class="btn p-0 edit" onclick="UpdateRow(' + index + ')"><i class="far fa-edit lighter pr-2" ></i></button>' + '<button type="button" class="btn p-0" onclick="deleteRow(' + index + ')"><i class="fas fa-trash-alt lighter" ></i></button> </td></tr>'

      $("tr#" + index).replaceWith(ChitietRecord);
    }
  }







  //ok
  function updateTable2() {
  //11111111111111111111111111
    var tienhang = 0;
    var tienck = 0;
    var tienthue = 0;
    $("#tableChiTietPhieuNhap").find("tr:gt(0)").each(function () {
      var SL = $(this).find("td:eq(3)").text();
      var DonGia = $(this).find("td:eq(4)").text();
      var ChietKhau = $(this).find("td:eq(6)").text();
      var ThueXuat = $(this).find("td:eq(7)").text();
      tienhang = tienhang + (SL * DonGia);
      tienck = tienck + ((SL * DonGia * ChietKhau) / 100);
      tienthue = tienthue + ((((SL * DonGia) - ((SL * DonGia * ChietKhau) / 100)) * ThueXuat) / 100);
    });

    var tienthanhtoan = tienhang - tienck + tienthue;
    $('#TienHang').val(toDecimal(tienhang));
    $('#TienCK').val(toDecimal(tienck));
    $('#TienThue').val(toDecimal(tienthue));
    $('#TienThanhToan').val(toDecimal(tienthanhtoan));

  }




  function CreatePN() {
    var listOfCTPNT = new Array();
    var NgayHd = $('#NgayHD').val();
    var SoHd = $('#SoHd').val();
    var NCC = $('#NCC').val();
    var Note = $('#Note').val();

    $("#tableChiTietPhieuNhap").find("tr:gt(0)").each(function () {
      var index = $(this).closest('tr').attr('id');
      var idHH = $(this).find("td:eq(0) input[type='hidden']").val();
      var SoLo = $(this).find("td:eq(2)").text();
      var SL = $(this).find("td:eq(3)").text();
      var DonGia = $(this).find("td:eq(4)").text();
      var ThanhTien = $(this).find("td:eq(5)").text();
      var ChietKhau = $(this).find("td:eq(6)").text();
      var HanDung = $(this).find("td:eq(9)").text();
      var ngaySX = $(this).find("td:eq(8)").text();
      var ThueXuat = $(this).find("td:eq(7)").text();

      var ChiTietPhieuNhapTam = {};
      ChiTietPhieuNhapTam.Id = Number(index);
      ChiTietPhieuNhapTam.Idhh = Number(idHH);
      ChiTietPhieuNhapTam.Slg = Number(SL);
      ChiTietPhieuNhapTam.DonGia = Number(DonGia);
      ChiTietPhieuNhapTam.ThanhTien = Number(ThanhTien);
      ChiTietPhieuNhapTam.Cktm = Number(ChietKhau);
      ChiTietPhieuNhapTam.Thue = Number(ThueXuat);
      ChiTietPhieuNhapTam.SoLo = SoLo;
      ChiTietPhieuNhapTam.Nsx = ngaySX;
      ChiTietPhieuNhapTam.Hsd = HanDung;

      listOfCTPNT.push(ChiTietPhieuNhapTam);

    });

    var PhieuNhapModel = {};
    PhieuNhapModel.NgayHd = NgayHd;
    PhieuNhapModel.SoHd = SoHd;
    PhieuNhapModel.NCC = Number(NCC);
    PhieuNhapModel.Note = Note;
    PhieuNhapModel.listOfCTPNT = listOfCTPNT;

    $.ajax({
      url: '/listCTPNT',
      type: 'POST',
      dataType: 'JSON',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify(PhieuNhapModel),
      success: function (result) {
        alert(result);
        location.reload();
      },
      error: function () {
        alert("Loiiix");
      }
    });

  }





  //ok
  function loadDVT() {
    var idHH = $('#selectHH').val();
    console.log(idHH);
    if (idHH != 0) {
      $.ajax({
        type: "post",
        url: "/getDonViTinh",
        data: "idHH=" + idHH,
        success: function (result) {
          $('#DVT').val(result.tenDVT);
        //  $('#GiaBan').val(toDecimal(result.giaBan));
        },
        error: function () {
          alert("Fail");
        }
      });
    }
  };

  function inputSLHH() {
    var thanhTien = $('#ThanhTien').val();
    var SL = $('#SLHH').val();
      var DonGia = toDecimal(getValue(thanhTien) / getValue(SL));
      if (checkNumber(DonGia)) {
        $('#DonGia').val(DonGia);
     }
  };

  function inputDonGia() {
    var SL = $('#SLHH').val();
    var DonGia = $('#DonGia').val();
    var thanhTien = toDecimal(getValue(DonGia) * getValue(SL));
    if (checkNumber(thanhTien)) {
      $('#ThanhTien').val(thanhTien);
    }
  };

  function inputThanhTien() {
    var SL = $('#SLHH').val();
    var thanhTien = $('#ThanhTien').val();
    var DonGia = toDecimal(getValue(thanhTien) / getValue(SL));
    if (checkNumber(DonGia)) {
      $('#DonGia').val(DonGia);
    }
  }

  $('#ChietKhau').on('input', function () {
    if (getValue(this.value) > 100) {
      $(this).val('');
      alert('Chiết khấu không quá 100%');
    }
  });

  function getValue(str) {
    return Number(str.replace(/[^0-9.-]+/g, ""));
  }

  function checkNumber(str) {
    return /[0-9,.\-$]+/.test(str);
  }
  $('#SLHH,#ThanhTien,#DonGia,#GiaBan,#ChietKhau').on('blur', format);

  function format() {
    if (checkNumber(this.value)) {
      const value = this.value.replace(/,/g, '');
      this.value = parseFloat(value).toLocaleString('en-US', {
        style: 'decimal',
        maximumFractionDigits: 2,
        minimumFractionDigits: 2
      })
    }
  }
  function toDecimal(str) {
    return parseFloat(str).toLocaleString('en-US', {
      style: 'decimal',
      maximumFractionDigits: 2,
      minimumFractionDigits: 2
    });
  }


  //xem chi tiết phiếu nhập (lịch sử)
  function ViewPhieuNhap(idPhieuNhap) {
    $('#bordered-justified-profile').removeClass('active');
    $('#bordered-justified-profile').removeClass('show');
    $('#tabXemPhieu').removeClass('d-lg-none');

    $.ajax({
      type: "post",
      url: "/ViewThongTinPhieuNhap",
      data: "idPN=" + idPhieuNhap,
      success: function (result) {
        $('#tabXemPhieu').replaceWith(result);
      },
      error: function () {
        alert("Fail Loading + Chi tiet lich su phieu nhap");
      }
    });
  }


  function offTabNhap() {
    $('#tabXemPhieu').addClass('d-lg-none');
  }
  function cancelXemPhieu() {
    $('#tabXemPhieu').addClass('d-lg-none');
    $('#bordered-justified-profile').addClass('active');
    $('#bordered-justified-profile').addClass('show');
  }


  function loadTableLichSuNhap() {
    var toDay = $('#toDay').val();
    var fromDay = $('#fromDay').val();

    $.ajax({
      type: "post",
      url: "/loadTableLichSuNhap",
      data: "toDay=" + toDay + "&fromDay=" + fromDay,
      success: function (result) {
        $('#tableLichSuNhap').replaceWith(result);
      },
      error: function () {
        alert("Fail");
      }
    });
  }

</script>
