@{
    Layout = null;

    string dayToString(DateTime? a)
    {
        if (a == null)
        {
            return "";
        }
        return a.Value.ToString("dd-MM-yyyy");
    }
}

<tbody id="tbodyLSNhap">
    @foreach (PhieuNhap p in ViewBag.ListPhieuNhap)
    {
        <tr>
            <td class="text-left">@p.SoPn</td>
            <td class="text-left">@p.IdnccNavigation.TenNcc</td>
            <td>@CommonServices.formatDay(@p.CreatedDate)</td>
            <td class="text-left">@p.SoHd</td>
            <td>@CommonServices.formatDay(p.NgayHd)</td>
            <td class="text-left">@p.IdnvNavigation.TenNv</td>
            <td class="text-left">@p.Note</td>
            <td>
                <a href="/download/phieunhap/@p.Id" class="btn btn-outline-danger" style="font-size: 0.55em;">PDF</a>
                <button type="button" onclick="ViewPhieuNhap('@p.Id')" class="btn btn-outline-success fas fa-eye mx-1"></button>
            </td>
        </tr>
    }

</tbody>

<script>
    $(document).ready(function () {
        $('.dataTables_filter').hide();


    })
</script>