@model IEnumerable<MedicalShop.Models.Entities.NhanVien>

@{
  MedicalShopContext context = new MedicalShopContext();

  var acc = User.FindFirst("VaiTro");
  int idmenu = (int)TempData.Peek("Menu");

  string vaitro = null;
  bool nhap = false, sua = false, xoa = false, print = false, xuat = false;
  if (acc != null)
  {
    vaitro = acc.Value;
    if (vaitro != null && vaitro != "")
    {
      ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
      if (cn != null)
      {
        nhap = (bool)cn.Import;
        sua = (bool)cn.Update;
        xoa = (bool)cn.Delete;
        print = (bool)cn.Print;
        xuat = (bool)cn.Export;
      }
    }
  }

  string formatDay(DateTime? date)
  {
    if (date != null)
    {
      return date.Value.ToString("dd-MM-yyyy");
    }
    else
    {
      return null;
    }
  }


}

<script src="~/admin/js/datatable-custom.js"></script>

<div id="tableNV" class="table-responsive" style="margin-bottom: 5rem">
  <table id="example" class="table table-striped" style="width: 100%; white-space: initial;">
    <thead>
      <tr>
        <th>
          Mã NV
        </th>
        <th>
          Tên NV
        </th>
        <th>
          CCCD
        </th>
        <th>
          Hình ảnh
        </th>
        <th>
          G.T
        </th>
        <th>
          Ngày sinh
        </th>
        <th>
          SĐT
        </th>
        <th>
          Địa chỉ
        </th>
        <th>Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (NhanVien item in ViewBag.ListNV)
      {
        @if (item.Active == false)
        {
          <tr style="background-color: #0000000a; ">
            <td>
              @Html.DisplayFor(modelItem => item.MaNv)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td id="imageHH" class="side-picture text-center">
              @if (@item.Image != null && @item.Image != "")
              {
                <img src="~/lib/imagesNV/@item.Image" alt="@item.Image" height="50" width="50" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
              }
              else
              {
                <img src="~/lib/imagesNV/Unone.jpg" alt="@item.TenNv" height="50" width="50" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
              }
            </td>
            <td>
              @if (item.Sex == true)
              {
                <p>Nam</p>
              }
              else
              {
                <p>Nữ</p>
              }
            </td>
            <td>
              @formatDay(item.DateOfBirth)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
              @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fas fa-eye lighter" })
              @if (sua == true)
              {
                @Html.ActionLink(" ", "Restore", new { id = item.Id }, new { @class = "fas fa-reply color-black", onclick = "return confirm('Bạn muốn khôi phục đối tượng này?')" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="fas fa-reply "></i></button>
              }
            </td>
          </tr>
        }
        else
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.MaNv)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TenNv)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td id="imageHH" class="side-picture text-center">
              @if (@item.Image != null && @item.Image != "")
              {
                <img src="~/lib/imagesNV/@item.Image" alt="@item.Image" height="50" width="50" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
              }
              else
              {
                <img src="~/lib/imagesNV/Unone.jpg" alt="@item.TenNv" height="50" width="50" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
              }
            </td>
            <td class="text-left">
              @if (item.Sex == true)
              {
                <p>Nam</p>
              }
              else
              {
                <p>Nữ</p>
              }
            </td>
            <td>
              @formatDay(item.DateOfBirth)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
              @if (sua == true)
              {
                @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="far fa-edit"></i></button>
              }
              @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fas fa-eye lighter" })
              @if (xoa == true)
              {
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
              }
              else
              {
                <button class=" btn p-0 disabled"><i class="fas fa-trash-alt"></i></button>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>