@model MedicalShop.Models.Entities.NhanVien
@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";

  MedicalShopContext context = new MedicalShopContext();
  //List<Hsx> getListHSX()
  //{
  //  return context.Hsx.ToList();
  //}
  List<NhomNhanVien> getListNNV()
  {
    return context.NhomNhanVien.ToList();
  }

  //List<Nsx> getListNSX()
  //{
  //  return context.Nsx.ToList();
  //}
  //List<Dvt> getListDVT()
  //{
  //  return context.Dvt.ToList();
  //}
}

@if (TempData["ThongBao"] != null)
{
  <script type="text/javascript" charset="utf-8">
                        window.onload = function () {
                            alert("@Html.Raw(@TempData["ThongBao"])");
                    };
  </script>
}

<div class="card" style=" margin-bottom: 70px;">
  <div class="card-body">
    <form enctype="multipart/form-data" action="/NhanVien/insertNhanVien" method="post">
      <div class="forms-body">
        <div class="form-group" style="display: flex; ">
          <div>
            <label style="margin-bottom: 70px;">Hình ảnh</label>
            <input name="Avt" class="form-control" type="file" id="Fileimage" accept="image/gif image/png image/jpeg">
          </div>
          <div style="max-width: 300px; max-height:250px; margin-left: 40px;">
            <img alt="" style="object-fit: cover; width: auto; height: 150px;" id="image1">
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Nhóm nhân viên</label>
            <select required class="custom-select" asp-for="@Model.Idnnv">
              @foreach (NhomNhanVien nv in getListNNV())
              {
                <option value="@nv.Id">
                  @nv.TenNnv
                </option>
              }
            </select>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Mã NV</label>
            <input asp-for="@Model.MaNv" type="text" class="form-control" required>

          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Tên NV</label>
            <input asp-for="@Model.TenNv" type="text" class="form-control" required>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">CCCD</label>
            <input asp-for="@Model.Cccd" type="text" class="form-control" required>
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0; width:100%">Giới tính</label>
            <div class="form-group" style="display:flex;">
              <input asp-for="@Model.Sex" type="radio" id="male" value="true" checked>
              <label for="male" style="margin-bottom: 0rem; padding: 0rem 10% 0rem 3%; align-self: center;">Nam</label><br>
              <input asp-for="@Model.Sex" type="radio" id="female" value="false">
              <label for="female" style="margin-bottom: 0rem; padding: 0rem 10% 0rem 3%; align-self: center; ">Nữ</label><br>
            </div>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Ngày sinh</label>
            <input asp-for="@Model.DateOfBirth" type="date" class="form-control" required>
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Địa chỉ</label>
            <input asp-for="@Model.Address" type="text" class="form-control" required>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Quê quán</label>
            <input asp-for="@Model.HomeTown" type="text" class="form-control" required>
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">SĐT</label>
            <input asp-for="@Model.Phone" type="text" class="quantity-input input-text qty text form-control" onkeypress="return isNumberKey(event)" title="Số lượng cần mua" name="quantity" value="">
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Mail</label>
            <input asp-for="@Model.Mail" type="text" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 10px 0px; ">
        <a asp-action="Table"><input type="button" class="btn btn-secondary" value="Quay lại"></a>
        <input type="submit" class="btn btn-primary" value="Thêm">

      </div>

    </form>

  </div>
</div>
<script>
  $(document).ready(function () {
    $('.quantity-input').bind("cut copy paste drag drop", function (e) {
      e.preventDefault();
    });
  });
  function isNumberKey(e) {
    var charCode = (e.which) ? e.which : e.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) /*&& charCode != 43*/)
      return false;
    return true;
  }





  function readURL(input, previewId) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(previewId).attr('src', e.target.result);
        $(previewId).hide();
        $(previewId).fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#Fileimage").change(function () {
    readURL(this, '#image1');
  });

</script>