@model MedicalShop.Models.Entities.NhanVien
@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";

  MedicalShopContext context = new MedicalShopContext();

  List<NhomNhanVien> getListNNV()
  {
    return context.NhomNhanVien.Where(x => x.Active == true).ToList();
  }

  string formatDate(DateTime? a)
  {
    if (a == null)
    {
      return "";
    }
    return a.Value.ToString("dd-MM-yyyy");
  }

}

<div class="card" style=" margin-bottom: 70px;">
  <div class="card-body">
    <form enctype="multipart/form-data" action="/NhanVien/updateNhanVien" method="post">
      <div class="forms-body">
        <div class="form-group" style="display: flex; ">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            @if (Model.Image != null)
            {
              <img alt="" src="~/lib/imagesNV/@Model.Image" class="d-block rounded" height="100" width="100" id="image1">
            }
            else
            {
              <img alt="" class="d-block rounded" height="100" width="100" id="image1">
            }
            
            <div class="button-wrapper">
              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Tải ảnh mới</span>
                <i class="fa fa-thin fa-upload d-block d-sm-none" style="color: #ffffff;"></i>
                <input name="Avt" type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
              </label>
              <p class="text-muted mb-0" style="font-size:1rem !important">Cho phép JPG or PNG.</p>
            </div>
          </div>



          @*<div>
        <label style="margin-bottom: 70px;">Hình ảnh</label>
        <input name="Avt" class="form-control" type="file" id="Fileimage" accept="image/gif image/png image/jpeg">
      </div>
      <div style="max-width: 300px; max-height:250px; margin-left: 40px;">
        <img alt="" style="object-fit: cover; width: auto; height: 150px;" id="image1">
      </div>*@
        </div>
       
        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Nhóm NV</label>
            <select required class="custom-select" asp-for="@Model.Idnnv">
              @foreach (NhomNhanVien hh in getListNNV())
              {
                <option value="@hh.Id">
                  @hh.TenNnv
                </option>
              }
            </select>

          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Mã NV</label>
            <input asp-for="@Model.MaNv" type="text" class="form-control" required>
            <input asp-for="@Model.Id" type="hidden" />
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Tên NV</label>
            <input asp-for="@Model.TenNv" type="text" class="form-control" required>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">CCCD</label>
            <input asp-for="@Model.Cccd" id="Cccd" onblur="Check()" type="text" required maxlength="12" value="@Model.Cccd" class="cccd-input input-text qty text form-control" onkeypress="return isCCCDNumber(event)">
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0; width:100%">Giới tính</label>
            <div class="form-group" style="display:flex;">
              <input asp-for="@Model.Sex" type="radio" id="male" value="true" checked>
              <label for="male" style="margin-bottom: 0rem; padding: 0rem 10% 0rem 3%; align-self: center;">Nam</label><br>
              <input asp-for="@Model.Sex" type="radio" id="female" value="false">
              <label for="female" style="margin-bottom: 0rem; padding: 0rem 10% 0rem 3%; align-self: center; ">Nữ</label><br>
            </div>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Ngày sinh</label>




            @*//chưa được buồn ngủ quá*@
            <input asp-for="@Model.DateOfBirth" type="text" placeholder="dd-mm-yyyy" value="@Model.DateOfBirth?.ToString("dd-MM-yyyy")" data-date-format="DD-MM-yyyy" class="form-control">

            @*<input asp-for="@Model.DateOfBirth" type="text" class="form-control" id="DateOfBirth" data-date-format="DD-MM-yyyy" value="@Model.DateOfBirth.ToString("dd-MM-yyyy")" />*@
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">Địa chỉ</label>
            <input asp-for="@Model.Address" type="text" class="form-control" required>
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Quê quán</label>
            <input asp-for="@Model.HomeTown" type="text" class="form-control" required>
          </div>
        </div>

        <div class="form-group" style="display:flex">
          <div class="group-left">
            <label style="margin:7px 0;">SĐT</label>
            <input asp-for="@Model.Phone" type="text" class="quantity-input input-text qty text form-control" onkeypress="return isNumberKey(event)">
          </div>
          <div class="group-right">
            <label style="margin:7px 0;">Mail</label>
            <input asp-for="@Model.Mail" type="email" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 20px 0px 10px 0px; ">
        <a asp-action="Table"><input type="button" class="btn btn-secondary" value="Quay lại"></a>
        <input type="submit" class="btn btn-primary" value="Lưu">

      </div>


    </form>

  </div>
</div>
<script>

  $(document).ready(function () {
    $('.quantity-input').bind("cut copy paste drag drop", function (e) {
      e.preventDefault();
    });
    $('.cccd-input').bind("cut copy paste drag drop", function (e) {
      e.preventDefault();
    });

  });
  function isNumberKey(e) {
    var charCode = (e.which) ? e.which : e.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 43)
      return false;
    return true;
  }

  function isCCCDNumber(e) {
    var charCode = (e.which) ? e.which : e.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) /*&& charCode != 43*/)
      return false;
    return true;
  }

           function readURL(input, previewId) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $(previewId).attr('src', e.target.result);
                        $(previewId).hide();
                        $(previewId).fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#Fileimage").change(function() {
                readURL(this, '#image1');
            });



  function Check() {
    var idnv = $('#Cccd').val();
    $.ajax({
      type: "post",
      url: "/check",
      data: "&IDNV=" + idnv,
      success: function (result) {
        if (result.exists) {
          alert("Căn cước công dân đã tồn tại!");
          $('#Cccd').val("");
        } else {
        }
      },
      error: function () {
        alert("Căn cước công dân đã tồn tại!");
      }
    });
  }

</script>