@model IEnumerable<MedicalShop.Models.Entities.NhomNhanVien>

@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";
  MedicalShopContext context = new MedicalShopContext();

  NhanVien getNV(int? id)
  {
    NhanVien nv = context.NhanVien.FirstOrDefault(x => x.Id == id);
    if (nv != null) return nv;
    else return new NhanVien();
  }

  string formatDay(DateTime? date)
  {
    if (date != null)
    {
      return date.Value.ToString("dd-MM-yyyy HH:mm");
    }
    else
    {
      return null;
    }
  }

    var quyen = ViewBag.Quyen;
    bool nhap = (bool)quyen.Import;
    bool sua = (bool)quyen.Update;
    bool xoa = (bool)quyen.Delete;
    bool print = (bool)quyen.Print;
    bool xuat = (bool)quyen.Export;

}

@if (TempData["ThongBao"] != null)
{
  <script type="text/javascript" charset="utf-8">
                        window.onload = function () {
                            alert("@Html.Raw(@TempData["ThongBao"])");
                    };
  </script>
}


<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
  <div style="margin-bottom: 20px">
    @if (nhap == true)
    {
      <a href="/NhomNhanVien/ViewCreate" class="btn btn-secondary"><span>Thêm mới</span></a>
    }
    else
    {
      <button class="btn btn-secondary disabled"><span>Thêm mới</span></button>
    }
  </div>
  <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
    <div style="display: flex">
      <div class="dropdown" style="margin-right:10px">
        <select id="active" onchange="changeHH()" class="custom-select">
          <option value="true" selected>Hiện tại</option>
          <option value="false">Tất cả</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="tableNNV" class="table-responsive" style="margin-bottom: 5rem">
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>
          Mã NNV
        </th>
        <th>
          Tên NNV
        </th>
        <th class="text-center">
          Ngày tạo
        </th>
        <th class="text-center">
          NV tạo
        </th>
        <th class="text-center">
          Ngày sửa
        </th>
        <th class="text-center">
          NV sửa
        </th>
        <th class="text-center">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (NhomNhanVien item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.MaNnv)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.TenNnv)
          </td>
          <td class="text-center">
            @formatDay(item.CreatedDate)
          </td>
          <td class="text-center">
            @getNV(item.CreatedBy).TenNv
          </td>
          <td class="text-center">
            @formatDay(item.ModifiedDate)
          </td>
          <td class="text-center">
            @getNV(item.ModifiedBy).TenNv
          </td>
          <td class="text-center">
            @if (sua == true)
            {
              @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter pr-2" })
            }
            else
            {
              <button class=" btn p-0 disabled"><i class="far fa-edit pr-2"></i></button>
            }
            @if (xoa == true)
            {
              @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
            }
            else
            {
              <button class=" btn p-0 disabled"><i class="fas fa-trash-alt"></i></button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>


<script>
  $('#active').on('change', function () {
    var a = $(this).val();
    $.ajax({
      type: "post",
      url: "/loadTableNNV",
      data: "active=" + a,
      success: function (result) {
        $('#tableNNV').replaceWith(result);
      },
      error: function () {
        alert("Failed");
      }
    });
  });
</script>
