<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - MedicalShop</title>
  <link rel="shortcut icon " href="~/medical.ico">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="~/css/content.css" rel="stylesheet" />
  <link href="~/css/style.css" rel="stylesheet" />
  <link href="~/css/_footer.css" rel="stylesheet" />
  <link href="~/css/login.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/921d18f229.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow background-linear">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
          @*<img src="~/lib/images/logo2.png" alt="medicalshop" style="width:240px; height: 38px" />*@
          <img src="~/lib/images/MedicalShop.png" alt="medicalshop" style="width:200px; height: 50px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <div class="search">
            @using (Html.BeginForm("Find", "Home", FormMethod.Post))
            {
              <input type="text" placeholder="Sản phẩm tìm kiếm.." name="key" class="input-search">
              <button type="submit" class="button-search"><i class="fa fa-magnifying-glass" style="font-size:16px; color:black"></i></button>
            }
          </div>


        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

          <div class="user-cart">
            @*@Html.ActionLink("", "About", "Home")
              @Html.ActionLink(" ", "About", new { @class = "fa-solid fa-user" })*@
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                  <i class="fa fa-shopping-cart" style="font-size:18px; padding: 0px 10px; color:black"></i>
                </a>
              </li>
              @*<li class="nav-item">
                  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-user" style="font-size:18px; color:black"></i>
                  </a>
                </li>*@
            <li class="dropdown">
              <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-user" style="font-size:18px; padding-left: 10px; color: black"></i>
              </a>

              @{
                var acc = User.FindFirst("UserID");
                string name = null, staff = null, id = null, username = null;
                int active = 0;
                if (acc != null)
                {
                  id = acc.Value;
                  username = acc.Subject.Name;
                  staff = User.Claims.ElementAt(3).Value;
                  name = User.Claims.ElementAt(4).Value;
                  if (staff != null && (staff == "True" || staff == "true" ))
                  {
                    active = 2;
                  }
                  if (staff != null && (staff == "False" || staff == "false"))
                  {
                    active = 1;
                  }
                }
              }
                <ul class="dropdown-menu menu-item">
                  @if (active == 0)
                  {
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="LogIn">Đăng nhập</a></li>
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="LogOut">Đăng ký</a></li>
                  }
                  @if (active == 1)
                  {
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="ThongTin" asp-route-username="@username">@name</a></li>
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="LogOut">Đăng xuất</a></li>
                  }
                  @if (active == 2)
                  {
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="ThongTin" asp-route-username="@username">@name</a></li>
                    <li><a asp-area="" asp-controller="QuanLy" asp-action="Index">Quản lý</a></li>
                    <li><a asp-area="" asp-controller="TaiKhoan" asp-action="LogOut">Đăng xuất</a></li> 
                  }
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          @*<span class="navbar-toggler-icon"></span>*@
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1 menu-justify">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
            </li>
            <li class="dropdown">
              <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">Sản phẩm</a>
              <ul class="dropdown-menu menu-item">
                @* DANH MỤC SẢN PHẨM
                  vòng foreach category or cho sẵn!
                  bỏ action hàng hóa truyền string key "danh mục" vô chổ này*@
                <li>
                  <a asp-area="" asp-controller="Category" asp-action="Product">Dược phẩm</a>
                </li>
                <li>
                  <a asp-area="" asp-controller="Category" asp-action="Product">Thiết bị y tế</a>
                </li>
                <li>
                  <a asp-area="" asp-controller="Category" asp-action="Product">Thực phẩm chức năng</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Về chúng tôi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">Tin tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <br />
    <div class="container">
      <div class="footter">
        <div class="logo">
          <img src="~/lib/images/medical.ico" alt="medical" style="width:85px; height:85px" />
          <img class="imgtitle" src="~/lib/images/MedicalShop.png" alt="medical shop" style="width:200px; height:50px" />
        </div>
        <div class="linked">

          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Vật tư y tế</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Tin tức</a>
            </li>
          </ul>
        </div>
        <div class="contact">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Liên hệ</a>
            </li>
            <li class="nav-item">
              Hotline: 0393352523
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Chi nhánh</a>
            </li>
            <li class="nav-item">
              50 Văn Cao, Phú Thọ Hoà, Tân Phú, TP Hồ Chí Minh
            </li>
            <li class="nav-item">
              50 Văn Cao, Phú Thọ Hoà, Tân Phú, TP Hồ Chí Minh
            </li>

          </ul>
        </div>
      </div>
      <p style="font-size:12px;text-align: center">
        &copy; 2022 - Công ty Cổ Phần Dược Phẩm Vũ Phong Số ĐKKD 0315275368 cấp ngày 01/01/2022 tại Sở Kế hoạch Đầu tư TPHCM - <a asp-area="" asp-controller="Home" asp-action="Privacy"> User Policy </a>
      </p>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
