@model MedicalShop.Models.Entities.Hsx
@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";

}

<div class="card" style=" margin-bottom: 70px;">
  <div class="card-body">
    <form action="/HSX/insert" method="post">
      <div class="forms-body">
        <div class="form-group">
          <label style="margin:7px 0;">Mã HSX</label>
          <input asp-for="@Model.MaHsx" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="margin:7px 0;">Tên HSX</label>
          <input asp-for="@Model.TenHsx" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="margin:7px 0;">Địa chỉ</label>
          <input asp-for="@Model.Address" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="margin:7px 0;">SĐT</label>
          <input asp-for="@Model.Phone" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label style="margin:7px 0;">Mail</label>
          <input asp-for="@Model.Mail" type="text" class="form-control" required>
        </div>
      </div>

      <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 10px 0px; ">
        <a asp-action="Table"><input type="button" class="btn btn-secondary" value="Quay lại"></a>
        <input type="submit" class="btn btn-primary" value="Thêm">
        
      </div>

    </form>

  </div>
</div>