@model MedicalShop.Models.Entities.HangHoa

<div id="tableHH" style="overflow-x: auto; overflow-y: hidden; width: 100%;">
  <input type="hidden" id="SL" value="9" />
  <table class="table" id="example">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.MaHh)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.TenHh)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (HangHoa item in ViewBag.ListHH)
      {
        @if (item.Active == false)
        {
          <tr style="background-color: #0000000a; ">
            <td>
              @Html.DisplayFor(modelItem => item.MaHh)
            </td>
            <td style="max-width: 14rem;">
              @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td class="side-picture">
              <img src="~/lib/imagesHH/@item.Image" alt="@item.Image" height="60" width="60" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="max-width: 14rem;">
              @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
              @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fas fa-eye lighter" }) |
              @Html.ActionLink(" ", "Restore", new { id = item.Id }, new { @class = "fas fa-reply color-black", onclick = "return confirm('Bạn muốn khôi phục hàng hóa này?')" })
            </td>
          </tr>
        }
        else
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.MaHh)
            </td>
            <td style="max-width: 14rem;">
              @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td class="side-picture">
              <img src="~/lib/imagesHH/@item.Image" alt="@item.Image" height="60" width="60" style="border-radius: 5px;" id="zoom_01" class="img-fluid">
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="max-width: 14rem;">
              @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
              @Html.ActionLink(" ", "ViewUpdate", new { id = item.Id }, new { @class = "far fa-edit lighter" })|
              @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fas fa-eye lighter" }) |
              @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt lighter", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<script>

  $('.side-picture').hover(function () {
    var showing = $(this).find("img").attr("src");
    $('.side-picture').find("img").removeAttr('id');
    $(this).find("img").attr('id', 'zoom_01');
    $("#zoom_01").data('zoom-image', showing).elevateZoom({
      scrollZoom: true,
    });
  });

</script>