@model MedicalShop.Models.Entities.Dvvc

@{
  Layout = "~/Views/Shared/_LayoutNV.cshtml";

  MedicalShopContext context = new MedicalShopContext();

  ChiNhanh getCN(int? id)
  {
    ChiNhanh cn = context.ChiNhanh.Find(id);
    if (cn != null) return cn;
    else return new ChiNhanh();
  }

  NhanVien getNV(int? id)
  {
    NhanVien nv = context.NhanVien.FirstOrDefault(x => x.Id == id);
    if (nv != null) return nv;
    else return new NhanVien();
  }


  string formatDay(DateTime? date)
  {
    if (date != null)
    {
      return date.Value.ToString("dd-MM-yyyy HH:mm");
    }
    else
    {
      return null;
    }
  }


  var acc = User.FindFirst("VaiTro");
  int idmenu = (int)TempData.Peek("Menu");

  string vaitro = null;
  bool sua = false;
  if (acc != null)
  {
    vaitro = acc.Value;
    if (vaitro != null && vaitro != "")
    {
      ChucNang cn = context.ChucNang.FirstOrDefault(c => c.Idvt.Equals(int.Parse(vaitro)) && c.Idmenu.Equals(idmenu));
      sua = (bool)cn.Update;
    }
  }

}

<div class="row" style="margin-bottom: 70px;">
  <div class="card" id="heredetail">
    <div class="card-body pt-3 pl-5 pr-5" style="padding: 0;">
      <!-- Bordered Tabs -->
      <div class="tab-content justify-content-center pt-2">
        <div id="Detail">
          <dl class="d-flex flex-wrap slgit">
            <dt class="col-sm-2">
              Mã DVVC
            </dt>
            <dd class="col-sm-10">
              @Html.DisplayFor(model => model.MaDvvc)
              @Html.HiddenFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
              Tên DVVC
            </dt>
            <dd class="col-sm-10">
              @Html.DisplayFor(model => model.TenDvvc)
            </dd>
            <dt class="col-sm-2">
              Ghi chú
            </dt>
            <dd class="col-sm-10">
              @Html.DisplayFor(model => model.Note)
            </dd>
            <dt class="col-sm-2">
              NV tạo
            </dt>
            <dd class="col-sm-10">
              @getNV(Model.CreatedBy).TenNv
            </dd>
            <dt class="col-sm-2">
              Ngày tạo
            </dt>
            <dd class="col-sm-10">
              @formatDay(Model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
              NV sửa
            </dt>
            <dd class="col-sm-10">
              @getNV(Model.ModifiedBy).TenNv
            </dd>
            <dt class="col-sm-2">
              Ngày sửa
            </dt>
            <dd class="col-sm-10">
              @formatDay(Model.ModifiedDate)
            </dd>
            <dt class="col-sm-2">
              Chi nhánh
            </dt>
            <dd class="col-sm-10">
              @getCN(Model.Idcn).TenCn
            </dd>
            <dt class="col-sm-2">
              Trạng thái
            </dt>
            <dd class="col-sm-10">
              @if (Model.Active == true)
              {
                <p>Đang hoạt động</p>
              }
              else
              {
                <p>Ngừng hoạt động</p>
              }
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="forms-footer" style="justify-content: space-between; display: flex; padding: 0px 50px 20px 50px; ">
      <a asp-action="Table">
        <input type="button" class="btn btn-secondary" value="Quay lại">
      </a>
      @*<button class="btn btn-secondary" type="button" onclick="window.history.go(-1);">
        Quay lại
      </button>*@

      @if (Model.Active == true)
      {
        if (sua == true)
        {
          <a asp-action="ViewUpdate" asp-route-id="@Model.Id">
            <input type="button" class="btn btn-primary" value="Chỉnh sửa">
          </a>
        }
        else
        {
          <button class="btn btn-primary disabled">
            <span>Chỉnh sửa</span>
          </button>
        }
      }
      else
      {
        if (sua == true)
        {
          //thêm ajax
          <button class="btn btn-primary" style="" id="btn_khoiphuc">
            <span>Khôi phục</span>
          </button>
        }
        else
        {
          <button class="btn btn-primary disabled">
            <span>Khôi phục</span>
          </button>
        }
      }




    </div>

  </div>
</div>

<script>

  function loadAgain() {
    var id = $('#Id').val();
    $.ajax({
      type: "post",
      url: "/loadDetailDVVC",
      data: "id=" + id,
      success: function (result) {
        $("#heredetail").replaceWith(result)
      },
      error: function () {
        alert("Lỗi");
      }
    });
  }

    $("#btn_khoiphuc").click(function () {
      var id = $('#Id').val();
      $.ajax({
        type: "post",
        url: "/restoreDVVC",
        data: "id=" + id,
        success: function (result) {
          alert(result);
          loadAgain();
        //  $("#Detail").replaceWith(result)

        },
        error: function () {
          alert("Lỗi");
          alert(id);

        }
      });
    })

</script>